body{
font-family: "Times New Roman";
background-color:#eee
}

/*===========sidebar======================*/
.sidebar{
    height: 100vh;

    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),url('../../images/zale.jpg');
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;

}
.sidebar-link{
    transition: all .4s;
}
.sidebar-link:hover{
    background: #bb492a;
    border-radius: 5px;
}
.current{
    background: #f44336;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .4s;
}
.current:hover{
    background: #f66436;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transform: translateY(1px);
}
.logo{
    background: url("../../images/zaleg.jpg");
}
.search-input{
    border: none;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid #999;
}
.search-input:focus{
    background: transparent;
    box-shadow: none;
    color: #fff;
    border-bottom: #dc3545;
}
.search-button{
    border-radius: 50%;
    padding: 10px 16px;
}
nav{
    border-bottom: #111 solid 3px;
}

nav .nav-link{
    color: red;
}

/*========================media query for responsiveness on device sizes======*/
@media (max-width:768px) {
    .sidebar{
        /*since position is fixed, lets make it static in smaller devices*/
        position: static;
        height: auto;

    }
    .topNav{
        position: static;
    }
}
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}